/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

.swiper {
  min-height: 100vh;
  background: #fff;
  padding: 5rem 0 2rem !important;
}

.swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: auto !important;
  /* height: 300px; */
}

.swiper-slide img {
  display: block;
  border-radius: 25px;
}
